h1 {
    color: blue; 
    text-align: center;
    font-family: initial;
    border: inherit;
}
h2 {
    color: red;
}
p {
    color: blue; font-size: 20px;
    

}

.mal {
    text-align: center; font-size: 16px; color: orange;
}

.annotation {
    font-size: 10px;
    color: green;
}

#subscribe-btn {
    color: red;
}

body {
    font-family: sans-serif; border: 2px red solid; 
}